@CHARSET "UTF-8";

form > fieldset label {
  width: 288px;
}

#strTags {
	margin-top: 8px;
}

.searchSEO {
	font-family: arial, verdana;
	font-size: 14px;
	width: 680px;
}

.searchSEO td:first-child {
	text-align: right;
}

.searchSEO td:last-child {
	text-align: left;
}

.prodsSEO {
	font-family: arial, verdana;
	font-size: 14px;
	background-color: #aaa;
	width: 680px;
}

.prodsSEO input[type=text]{
	width: 440px;
}

.prodsSEO textarea {
	width: 644px; 
}

.prodsSEO td:first-child {
	text-align: right;
}

.prodsSEO td:last-child {
	text-align: left;
}

.titledesc {
	color: #112277;
}
.titledesc:link {
	color: #117722;
}
.titledesc:hover {
	color: #771122;
}

.desctr {
	display:none;
	text-align: center;
}

.rm_descsh {
	height: 48px;
	overflow: scroll;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.headerActive {
  background-color: #FDB;
}

.headerInactive {
  background-color: #BBD;
}

#menuTab { float: left; padding: 0; margin: 0; text-align: left; }
#menuTab li { text-align: left; float: left; display: inline; padding: 5px; padding-right: 10px; background: #EFEFEF; font-weight: bold; cursor: pointer; border-left: 1px solid #EFEFEF; border-right: 1px solid #EFEFEF; border-top: 1px solid #EFEFEF; }
#menuTab li.menuTabButton.selected { background: #FFF6D3; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; }
#tabList { clear: left; }
.tabItem { display: none; }
.tabItem.selected { display: block; background: #FFFFF0; border: 1px solid #CCCCCC; padding: 10px; padding-top: 20px; }

.oddCLLine {
	padding: 4px;
	background-color: #A0A0F0;
}

.evenCLLine {
	padding: 4px;
	background-color: #A0F0A0;
}

.newCLLine {
	padding: 4px;
	background-color: #F0A0A0;

}